body{
	background-color: #4d4d4d;
	font-family: 'Protest Riot', sans-serif;
}
.div-break{
	background-color: black;
}

/*Navigation*/
.Navigation{
	text-align: center;

}

h2{
	color: lightgoldenrodyellow;
}


.navigation li{
	display: inline-block;
	margin-top: 5rem;
    margin-bottom: 1rem;
    margin-left: 0rem;
    margin-right: 4rem;
    font-size: 20px;
    padding-left: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
}

/*Intro Section*/
.colored-background{
	background: url(../img/mountainbackground.jpg);
	background-size: auto;
	background-size: 100%;
}
.centered-box{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding: 10px;
}
.centered-box img{
	width: 300px;
    border-radius: 50%;
}

/*About Section*/
.about img{
	width: 140px;
	border-radius: 50%;
	padding-top: 10px;
}
.about{
	text-align: center;
	margin-top: 40px;
}
.container{
	text-align: center;
	background: url(../img/.jpg);
	background-color: #b35900;
	display: flex;

}
.main{
	width: 25vw;
	height: 100vh;
	text-align: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.main:hover{
	background: rgb(0, 0, 0, 0.1);
}
.h3:hover{
	background: rgb(0, 0, 0, 0.1);
}






/*Why Us Section*/
.why-us img{
	width: 100%;
}
.why-us .row{
	padding: 40px;
}


.why-us{
	background: url(../img/mountainbackground.jpg);
	margin-top: 40px;
}

/*Footer Section*/
.footer{
	text-align: center;
}