/*Navigation*/
.Navigation{
	text-align: center;
}


.navigation li{
	display: inline-block;
	margin-top: 5rem;
    margin-bottom: 1rem;
    margin-left: 0rem;
    margin-right: 4rem;
    font-size: 20px;
    padding-left: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
}

/*Intro Section*/
.colored-background{
	background: url(../img/butterfly.jpg);
	background-size: auto;
	background-size: 100%;
}
.centered-box{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding: 10px;
}
.centered-box img{
	width: 300px;
	border-radius: 50%;
}

/*About Section*/
.about img{
	width: 140px;
}
.about{
	text-align: center;
	margin-top: 40px;
}
.container{
	text-align: center;
}